# melpazoid <https://github.com/riscy/melpazoid> build checks.

# If your package is on GitHub, enable melpazoid's checks by copying this file
# to .github/workflows/melpazoid.yml and modifying RECIPE and EXIST_OK below.

name: melpazoid
on: [push, pull_request]

permissions: {}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5 # zizmor: ignore[unpinned-uses]
        with:
          persist-credentials: false
      - name: Set up Python 3.10
        uses: actions/setup-python@v5 # zizmor: ignore[unpinned-uses]
        with:
          python-version: "3.10"
      - name: Install
        run: |
          python -m pip install --upgrade pip
          sudo apt-get install emacs && emacs --version
          git clone https://github.com/riscy/melpazoid.git ~/melpazoid
          pip install ~/melpazoid
      - name: Run
        env:
          LOCAL_REPO: ${{ github.workspace }}
          RECIPE: |
            (elisp-dev-mcp :fetcher github :repo "laurynas-biveinis/elisp-dev-mcp")
        run: echo "$GITHUB_REF" && make -C ~/melpazoid
